[Unit]
Description=gunicorn daemon
After=network.target

[Service]
# the specific user that our service will run as
User=azureuser
Group=www-data
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
WorkingDirectory={{workdir}}{{external}}kindergartent/
ExecStart=/usr/local/bin/gunicorn kindergarten.wsgi

[Install]
WantedBy=multi-user.target

