user www-data;
events {}
http {
	server {
		listen          80;
		server_name     127.0.0.1;
		location / {
			proxy_set_header Host $http_host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_redirect off;
			proxy_buffering off;
			proxy_pass http://localhost:8000;
		}
		location /static {
			autoindex on;
			alias /home/azureuser/kindergarten-External/kindergartent/static/;
		}

	}
	server {
		listen          89;
		server_name     127.0.0.1;
		location / {
			proxy_set_header Host $http_host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_redirect off;
			proxy_buffering off;
			proxy_pass http://localhost:8080;
		}
	}
}

